{% extends "layout.html.twig" %}

{% block content %}
    <script type="text/javascript">
        gameImages = '{{ images | raw }}';
    </script>

    <div class="row content-header">
        <div class="logo">
            <img class="img-responsive" src="assets/img/jameson-logo.png" />
        </div>
        <div class="header">
            <img class="rules-title img-responsive" src="assets/img/game-title.png" />

            <div class="timer-container" style="display: none;">
                <img class="play-title img-responsive pull-left" src="assets/img/game-title-timer-{{ lang }}.png"/>
                <h1 class="timer-wrap pull-left">
                    <div class="timer-ctrl hide">{{ modules['timer'].render() | raw }}</div>
                    <div class="timer-long-ctrl hide">{{ modules['timer-long'].render() | raw }}</div>
                </h1>
            </div>
        </div>
    </div>

    <div class="row content-middle">
        <div class="gameContainer">
            <div class="memory-ctrl hide">{{ modules['memory'].render() | raw }}</div>
            <div class="memory-hard-ctrl hide">{{ modules['memory-hard'].render() | raw }}</div>
        </div>
        <div class="row loading">
            <div class="col-xs-4"></div>
            <div class="col-xs-4 center-block">
                <img class="img-responsive" src="assets/img/loading_2.gif">
            </div>
            <div class="col-xs-4"></div>
        </div>
        <div class="play" style="display: none;">
            <div class="claw" style="display: none;">
                <img class="img-responsive" src="assets/img/claw.gif" />
            </div>
            <div class="row rules">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <p>{{ 'rules-1'|trans({}, pageId) }}</p>
                    <p>{{ 'rules-2'|trans({}, pageId) }}</p>
                </div>
                <div class="col-xs-1"></div>
            </div>

            <div class="radio text-center">
                <input type="radio" name="difficulty" id="easy" value="1" checked="checked">
                <label for="easy" class="radio-inline">{{ 'easy'|trans({}, pageId) }}</label>
                <input type="radio" name="difficulty" id="normal" value="2">
                <label for="normal" class="radio-inline">{{ 'normal'|trans({}, pageId) }}</label>
                <input type="radio" name="difficulty" id="hard" value="3">
                <label for="hard" class="radio-inline">{{ 'hard'|trans({}, pageId) }}</label>
            </div>

            <div class="text-center">
                <button disabled="disabled" class="btn btn-danger" id="play-btn">{{ 'play'|trans({}, pageId) }}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'simple-footer.html.twig' %}
{% endblock %}