<div id="{{ module_id }}" class="player player-{{ config.type }}" data-id="{{ config.id }}" data-type="{{ config.type }}" data-width="{{ config.width }}" data-height="{{ config.height }}" data-autoplay="{{ config.autoplay is defined and config.autoplay ? 1 : 0 }}">
    <video id="player-{{ module_id }}" class="video-js vjs-default-skin vjs-big-play-centered" width="{{ config.width }}" height="{{ config.height }}" preload="metadata"></video>
</div>
